/.vscode

/Executable/1.billInput.txt
/Executable/1.billInput odd.txt
/Executable/3.billOutput.txt
/Executable/4.messageInput.txt
/Executable/6.messageOutput.txt
/Executable/RAR Files

/Old Website/js/addTestData.js

/Old React Website