// VARIABLES
@use "GlobalVariables" as global-variables;

$ranger-tag-COLOUR: #56d797;
$ranger-tag-BG-COLOUR: #25433494;
$earnings-tag-COLOUR: #d7b956;
$earnings-tag-BG-COLOUR: #43382594;

$phone-btn-COLOUR: black;
$phone-btn-BG-COLOUR: #eab308;
$phone-btn-hover-BG-COLOUR: #ca8a04;
$last-phone-btn-BG-COLOUR: #ba8002c9;
$last-phone-btn-hover-BG-COLOUR: $phone-btn-BG-COLOUR;

$message-btn-COLOUR: global-variables.$DEFAULT-TEXT-COLOUR;
$message-btn-BG-COLOUR: #14b8a6;
$message-btn-hover-BG-COLOUR: #0d9488;
$last-message-btn-BG-COLOUR: #09645db6;
$last-message-btn-hover-BG-COLOUR: $message-btn-BG-COLOUR;

$btn-copied-COLOUR: global-variables.$DEFAULT-TEXT-COLOUR;
$btn-copied-BG-COLOUR: #94949499;

$arrow-container-BG-COLOUR: #35475be1;
$arrow-container-hover-BG-COLOUR: #3a4e65;


@mixin main {
    /* Person Name, Total Bill, Buttons, and Dropdown Arrow */
    .bill-tab-header {
        font-size: 15px;
        display: flex;
        padding: 8px 10px;
        align-items: center;
        cursor: pointer;


        /* Person Name, Total Bill */
        .bill-tab-person-info {
            display: flex;
            flex-grow: 1;
            align-items: center;
            gap: 8px;

            /* Bill Header Tag */
            .bill-tab-tag {
                font-size: 12px;
                padding: 4px 8px;
                border-radius: 5px;
            }

            /* Is Ranger Tag */
            .bill-tab-ranger-tag {
                color: $ranger-tag-COLOUR;
                background-color: $ranger-tag-BG-COLOUR;
            }

            /* Ranger Earnings Tag */
            .bill-tab-earnings-tag {
                color: $earnings-tag-COLOUR;
                background-color: $earnings-tag-BG-COLOUR;
            }
        }


        /* Phone and Message Buttons */
        .bill-btns {
            font-size: 13.5px;
            display: flex;
            gap: 8px;


            .small-action-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3px;
                scale: 1;
                padding: 6px 2px;
                border-radius: 5px;
                transition: scale 0.3s, background-color 0.3s;


                &:hover {scale: 1.02}


                &.phone {
                    color: $phone-btn-COLOUR;
                    text-align: center;
                    width: 100px;
                    background-color: $phone-btn-BG-COLOUR;


                    &:hover {background-color: $phone-btn-hover-BG-COLOUR}


                    &.last-phone {
                        background-color: $last-phone-btn-BG-COLOUR;


                        &:hover {background-color: $last-phone-btn-hover-BG-COLOUR}
                    }
                }


                &.message {
                    color: $message-btn-COLOUR;
                    text-align: center;
                    width: 95px;
                    background-color: $message-btn-BG-COLOUR;


                    &:hover {background-color: $message-btn-hover-BG-COLOUR}


                    &.last-message {
                        background-color: $last-message-btn-BG-COLOUR;


                        &:hover {background-color: $last-message-btn-hover-BG-COLOUR}
                    }
                }


                &.copied {
                    color: $btn-copied-COLOUR;
                    font-weight: 600;
                    background-color: $btn-copied-BG-COLOUR !important;
                    transition: scale 0.3s;
                    cursor: not-allowed;
                }


                svg {opacity: 0.7}
            }
        }


        /* Arrow for Each Bill Tab */
        .bill-tab-arrow-container {
            display: flex;
            width: 28px;
            height: 28px;
            margin-left: 8px;
            align-items: center;
            justify-content: center;
            background-color: $arrow-container-BG-COLOUR;
            border-radius: 6px;
            transition: all 0.3s;


            .bill-tab-arrow {transition: transform 0.3s}
        }


        &:hover .bill-tab-arrow-container {background-color: $arrow-container-hover-BG-COLOUR}
    }
}