@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('./fonts/Inter-roman.var.woff2?v=3.18') format('woff2');
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('./fonts/Inter-italic.var.woff2?v=3.18') format('woff2');
}

* {
    font-family: "Inter var",sans-serif;
}

/* Variables */
:root {
    --margin-between-boxes: 30px;

    /* --main-background-colour: #111827; */
    --main-background-colour: #131920;

    /* --box-background-colour: #1F2937; */
    --box-background-colour: #1b232d;

    --box-border: solid #263240 1px;

    --box-btn-current-step-text-shadow: #62dd33 0px 0px 6px;
    --box-btn-current-step-box-shadow: #5bc730a0 0px 0px 6px;
    --box-btn-active-current-step-box-shadow: #62dd33 0px 0px 6px;
    --box-btn-hover-background-colour: #35475b65;
    --box-btn-active-background-colour: #35475be1;
    --box-btn-active-hover-background-colour: #3a4e65;

    --text-area-colour: #cfcfcf;
    --text-area-placeholder-colour: #5c5c5cba;
    /* --text-area-background-colour: #111827; */
    --text-area-background-colour: #263240;
    --text-area-border: solid #303f50 1px;
    --text-area-border-focus: solid #36c47d 1px !important;

    --action-btn-background-colour: #36c47d;
    --action-btn-hover-background-colour: #2fab6d;
    --action-btn-success-background-colour: #4ed55e;
    --action-btn-error-background-colour: #c43636;
    --action-btn-secondary-background-colour: #35475be1;
    --action-btn-secondary-hover-background-colour: #3a4e65;
    --action-btn-secondary-success-background-colour: #7f8b9a;
    --action-btn-secondary-error-background-colour: #26313e9b;

    /* --bill-tab-background-colour: #263240; */
    --bill-tab-background-colour: #131920;
    --big-box-title-current-step-text-shadow: #dfdf49 0px 0px 5px;

    --tooltip-text-background-opaque: rgba(59, 59, 59, 0.76);
    --tooltip-text-background: rgb(78, 78, 78);
    --tooltip-text-color: #d7d7d7;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--main-background-colour);
}

.custom-scroll-bar::-webkit-scrollbar {
    width: 12px;
    cursor: pointer;
}

.custom-scroll-bar::-webkit-scrollbar-track {
    margin: 3px 0;
    background-color: #263240;
    border-radius: 20px;
    cursor:auto;

}

.custom-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #0f141a;
    /* background: linear-gradient(to bottom, #b9b900 -10%, #844200); */
    border-radius: 20px;
    cursor:auto;
}.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: #0c1015;
}.custom-scroll-bar::-webkit-scrollbar-thumb:active {
    background-color: #0a0d11;
    /* background: linear-gradient(to bottom, #E6E600 -10%, #B95C00); */

}

@keyframes spin-360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin-360 0.5s ease-in-out; /* Adjust duration as needed */
}

@keyframes expand-line {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.main-container {
    display: flex;
    flex: 1;
    color: white;
    margin: var(--margin-between-boxes);
    gap: var(--margin-between-boxes);
    height: calc(100% - var(--margin-between-boxes) * 2);
}

    .box {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 15px;
        padding: 15px;
        background-color: var(--box-background-colour);
        border: var(--box-border);
        border-radius: 10px;
    }

    /* Log Input box and Sample Message Box */
    .left-boxes-container {
        display: flex;
        flex-direction: column;
        width: 600px;
        gap: var(--margin-between-boxes);
        height: 100%;
    }

        /* Tabs for Top Left Box */
        .box-option-btns-container {
            display: flex;
            gap: 10px;
        }

            .box-option-btn {
                display: flex;
                align-items: center;
                gap: 6px;            
                color: rgb(171, 171, 171);
                font-weight: 600;
                padding: 8px 15px;
                border-radius: 8px;
                cursor: pointer;
                user-select: none;
                transition: all 0.3s;
            } .box-option-btn:hover {
                color: white;
                scale: 1.01;
                background-color: var(--box-btn-hover-background-colour);
            }.box-option-btn.active {
                color: white;
                background-color: var(--box-btn-active-background-colour);
            }.box-option-btn.active:hover {
                scale: 1.01;
                background-color: var(--box-btn-active-hover-background-colour);
            }.box-option-btn.current-step:not(:hover):not(.active) {
                text-shadow: var(--box-btn-current-step-text-shadow);
            }.box-option-btn.current-step:hover {
                box-shadow: var(--box-btn-current-step-box-shadow);
            }.box-option-btn.current-step.active {
                box-shadow: var(--box-btn-active-current-step-box-shadow);
            }

        /* Titles for small boxes */
        .small-box-title {
            display: flex;
            gap: 5px;
            color: white;
            font-size: 20px;
            font-weight: 600;
            align-items: center;
        }.small-box-title.current-step {
            text-shadow: var(--big-box-title-current-step-text-shadow);
        }

            .tooltip-container {
                position: relative;
                display: inline-block;
            }

                .help-tooltip {
                    position: relative;
                    display: flex;
                    font-size: 18px;
                    color: #5e5f63;
                    background: radial-gradient(circle, #caccddce 50%, transparent 50%);
                    border-radius: 50%;
                    cursor: pointer;
                    margin-left: 2px;
                    transition: opacity 0.3s, box-shadow 0.3s;
                }.box-option-btn.current-step:not(:hover):not(.active) .help-tooltip {
                    box-shadow: var(--box-btn-current-step-box-shadow);
                }#log-input-tab-btn:has(.help-tooltip:hover) + #sheet-input-tab-btn .help-tooltip {
                    opacity: 0;
                }
                
                    /* Tooltip text */
                    .help-tooltip + .help-tooltip-text {
                        visibility: hidden;
                        font-size: 14px;
                        font-weight: 400;
                        text-shadow: none;
                        width: max-content;
                        max-width: 300px;
                        text-align: start;
                        line-height: 14px;
                        background-color: var(--tooltip-text-background);
                        color: var(--tooltip-text-color);
                        padding: 7px;
                        border-radius: 6px;
                        opacity: 0;
                        transition: opacity 0.3s, visibility 0s 0.3s;
                        cursor: initial;
                        box-shadow: #353535 0px 0px 3px 2px;
                        user-select: text;
                    
                        /* Position the tooltip text - see examples below! */
                        position: absolute;
                        z-index: 1;
                        top: -1px;
                    }
                    
                        /* Show the tooltip text when you mouse over the tooltip container */
                        .help-tooltip:hover + .help-tooltip-text {
                            visibility: visible;
                            opacity: 1;
                            transition: opacity 0.3s;
                        }

                        .help-tooltip + .help-tooltip-text::after {
                            content: " ";
                            position: absolute;
                            top: 10px;
                            margin-top: -5px;
                            border-width: 5px;
                            border-style: solid;
                        }

                        .help-tooltip + .help-tooltip-text.small-help-tooltip-text-right {
                            left: 105%;
                            margin-left: 8px;
                        }.help-tooltip + .help-tooltip-text.small-help-tooltip-text-right::after {
                            right: 100%;
                            border-color: transparent var(--tooltip-text-background) transparent transparent;
                        }
                        
                        .help-tooltip + .help-tooltip-text.small-help-tooltip-text-left {
                            right: 105%;
                            margin-right: 8px;
                        }.help-tooltip + .help-tooltip-text.small-help-tooltip-text-left::after {
                            left: 100%;
                            border-color: transparent transparent transparent var(--tooltip-text-background);
                        }

                            .help-tooltip + .help-tooltip-text b {
                                color: var(--tooltip-text-color);
                                text-decoration: underline;
                            }

        /* Content for Top Left small box */
        .small-box-content-container {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 10px;
        }

            .small-box-text-area {
                flex: 1;
                color: var(--text-area-colour);
                font-size: 11px;
                padding: 4px 7px;
                background: var(--text-area-background-colour);
                border: var(--text-area-border);
                border-radius: 10px;
                resize: none;
            }.small-box-text-area::placeholder {
                font-size: 16px;
                color: var(--text-area-placeholder-colour);
            }.small-box-text-area:focus {
                outline: none;
                border: var(--text-area-border-focus);
            }#sample-message-text-area {
                font-size: 18px;
            }
            
            /* Action Buttons */
            .small-box-action-btns {
                display: flex;
                gap: 10px;
            }

                .action-btn {
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    padding: 7px 14px;
                    border-radius: 6px;
                    background-color: var(--action-btn-background-colour);
                    cursor: pointer;
                    user-select: none;
                    transition: all 0.3s;
                }.action-btn:hover {
                    scale: 1.02;
                    background-color: var(--action-btn-hover-background-colour);
                }.action-btn.success {
                    background-color: var(--action-btn-success-background-colour);
                    cursor: not-allowed;
                }.action-btn.error {
                    scale: 1;
                    background-color: var(--action-btn-error-background-colour);
                    cursor: not-allowed;
                } .action-btn.secondary {
                    justify-content: center;
                    padding: 7px 12px;
                    background-color: var(--action-btn-secondary-background-colour);
                }.action-btn.secondary:hover {
                    background-color: var(--action-btn-secondary-hover-background-colour);
                }.action-btn.secondary.success {
                    background-color: var(--action-btn-secondary-success-background-colour);
                    cursor: not-allowed;
                }.action-btn.secondary.error {
                    scale: 1;
                    background-color: var(--action-btn-secondary-error-background-colour);
                    cursor: not-allowed;
                }.action-btn.secondary.btn-grow {
                    text-align: center;
                    flex: 1;
                }

    /* Big Box on Right */
    .right-box-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
        overflow: hidden;
    }

        .big-box {
            gap: 8px;
            overflow: hidden;
        }

            .big-box-title {
                display: flex;
                gap: 7px;
                color: white;
                font-size: 25px;
                font-weight: 600;
                justify-content: center;
                align-items: center;
                transition: text-shadow 0.3s;
            }.big-box-title.current-step {
                text-shadow: var(--big-box-title-current-step-text-shadow);
            }

                .big-box-title .help-tooltip {
                    font-size: 22px;
                }
                
                    /* Tooltip text */
                    .big-box-title .help-tooltip + .help-tooltip-text {
                        max-width: 329px;

                        /* Position the tooltip text - see examples below! */
                        left: 105%;
                        margin-left: 8px;
                    }
                    
                        .big-box-title .help-tooltip + .help-tooltip-text::after {
                            right: 100%;
                            border-color: transparent var(--tooltip-text-background) transparent transparent;
                        }

            /* List of Bills container */
            #list-of-bills {
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 10px;
                overflow-y: auto;
                min-height: 0;
                border-radius: 8px;
                transition: padding-right 0.3;
            }

                .no-bills-message {
                    font-size: 20px;
                    font-weight: 500;
                    opacity: 0.5;
                    height: 100%;
                    text-align: center;
                    align-content: center;
                    margin-bottom: 45px;
                }

                /* Individual Bill Tab */
                .bill-tab {
                    display: flex;
                    flex-direction: column;
                    background-color: var(--bill-tab-background-colour);
                    border-radius: 8px;
                    transition: box-shadow 0.3s;
                }.bill-tab:has(.bill-tab-header:hover):not(:has(.small-action-btn:hover)) {
                    box-shadow: inset #06080a 0px 0px 9px 0px;
                }

                    /* Person Name, Total Bill, Buttons, and Dropdown Arrow */
                    .bill-tab-header {
                        font-size: 15px;
                        display: flex;
                        padding: 8px 10px;
                        align-items: center;
                        cursor: pointer;
                    }

                        /* Person Name, Total Bill */
                        .bill-tab-person-info {
                            display: flex;
                            flex-grow: 1;
                            align-items: center;
                            gap: 8px;
                        }

                            /* Is Ranger Tag */
                            .bill-tab-ranger-tag {
                                font-size: 12px;
                                color: #56d797;
                                padding: 4px 8px;
                                background-color: #25433494;
                                border-radius: 5px;
                            }
                    
                        /* Phone and Message Buttons */
                        .bill-btns {
                            font-size: 13.5px;
                            display: flex;
                            gap: 8px;
                        }

                            .small-action-btn {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 3px;
                                scale: 1;
                                padding: 6px 2px;
                                border-radius: 5px;
                                transition: scale 0.3s, background-color 0.3s;
                            }.small-action-btn:hover {
                                scale: 1.02;
                            }.small-action-btn.phone {
                                color: black;
                                text-align: center;
                                width: 100px;
                                background-color: #eab308;
                            }.small-action-btn.phone:hover {
                                background-color: #ca8a04;
                            }.small-action-btn.phone.last-phone {
                                background-color: #ba8002c9;
                            }.small-action-btn.phone.last-phone:hover {
                                background-color: #eab308;
                            }.small-action-btn.message {
                                text-align: center;
                                width: 95px;
                                background-color: #14b8a6;
                            }.small-action-btn.message:hover {
                                background-color: #0d9488;
                            }.small-action-btn.message.last-message {
                                background-color: #09645db6;
                            }.small-action-btn.message.last-message:hover {
                                background-color: #14b8a6;
                            }
                            
                            .small-action-btn.copied {
                                color: white;
                                font-weight: 600;
                                background-color: #94949499 !important;
                                transition: scale 0.3s;
                                cursor: not-allowed;
                            }

                                .small-action-btn i {
                                    opacity: 0.7;
                                }

                        /* Arrow for Each Bill Tab */
                        .bill-tab-arrow-container {
                            display: flex;
                            width: 28px;
                            height: 28px;
                            margin-left: 8px;
                            align-items: center;
                            justify-content: center;
                            background-color: #35475be1;
                            border-radius: 6px;
                            transition: all 0.3s;
                        }.bill-tab-header:hover .bill-tab-arrow-container {
                            background-color: #3a4e65;
                        }

                            .bill-tab-arrow {
                                transition: transform 0.3s;
                            }

                            .bill-tab.open .bill-tab-arrow {
                                transform: rotate(90deg);
                            }

                    /* Individual Item information for Bill */
                    .bill-tab-info {
                        display: flex;
                        flex-direction: column;
                        height: 0px;
                        overflow: hidden;
                        transition: all 0.3s ease-in-out;
                    }.bill-tab.open .bill-tab-info {
                        transition: all 0.3s ease-in-out, height 0.7s cubic-bezier(.43,2.01,.68,.64);
                    }

                        /* First Bill Tab Divider */
                        .bill-tab-divider {
                            width: 100%;
                            height: 1px;
                            min-height: 1px;
                            align-self: center;
                            margin-bottom: 5px;
                            background-color: #374151;
                        }.bill-tab.open .bill-tab-divider {
                            animation: expand-line 0.5s ease-in-out;
                        }

                        /* Each Item Container */
                        .bill-info-item {
                            display: flex;
                            flex-direction: column;
                            padding: 0 20px;
                        }.bill-info-item:last-child {
                            padding-bottom: 3px;
                        }

                            .bill-info-item-info {
                                display: inline-block;
                                margin: 7px 0;
                                font-size: 14px;
                                width: 100%;
                            }

                                .bill-info-item-title {
                                    display: inline;
                                    font-weight: 500;
                                }

                                .bill-info-item-stats {
                                    display: inline-block;
                                    border-radius: 5px;
                                    overflow: hidden;
                                    float: right;
                                }

                                    .bill-info-item-invisible-divider {
                                        display: inline-flex;
                                        width: 0;
                                        color: transparent;
                                        background-color: transparent;
                                        white-space: pre;
                                    }.bill-info-item-invisible-divider::selection {
                                        color: transparent;
                                        background-color: transparent;
                                    }

                                    .bill-info-item-stat {
                                        display: inline-block;
                                        padding: 3px 7px;
                                        background-color: #a6a6a621;
                                    }.bill-info-item-stat:first-child{
                                        padding-left: 9px;
                                    }.bill-info-item-stat:last-child{
                                        padding-right: 9px;
                                    }.bill-info-item-stat.taken {
                                        color: #fca5a5;
                                    }.bill-info-item-stat.taken:has(~.bill-info-item-stat.given) {
                                        padding-right: 4px;
                                    }.bill-info-item-stat.given {
                                        color: #86efac;
                                    }.bill-info-item-stat.taken ~ .bill-info-item-stat.given {
                                        padding-left: 4px;
                                    }.bill-info-item-stat.net {
                                        color: white;
                                        background-color: #a6a6a650;
                                    }.bill-info-item-stat.net-cost {
                                        color: white;
                                        width: 66px;
                                        text-align: right;
                                        font-weight: 500;
                                        background-color: #a6a6a675;
                                    }.bill-info-item-stat.net-cost.positive {
                                        color: #fca5a5;
                                        background-color: #754c4c8c;
                                    }.bill-info-item-stat.net-cost.negative {
                                        color: #86efac;
                                        background-color: #4477578f;
                                    }

                            /* Divider Between Items */
                            .bill-tab-info-divider {
                                width: 100%;
                                height: 1px;
                                min-height: 1px;
                                align-self: center;
                                background-color: #374151a5;
                            }.bill-tab.open .bill-tab-info-divider {
                                width: 0%;
                                animation: expand-line 0.5s ease-in-out;
                                animation-fill-mode: forwards;
                            }

/* Hides elements when used */
.hidden {
    display: none;
}