@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('fonts/Inter-roman.var.woff2?v=3.18') format('woff2');
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('fonts/Inter-italic.var.woff2?v=3.18') format('woff2');
}


:root {
    /* --main-background: url(../images/background.png); */
    --main-background: #131920;

    /* --card-background-color: #063102; */
    --card-background-color: #1b232d;
    /* --card-border: none; */
    --card-border: solid #263240 1px;
    /* --card-box-shadow: black 3px 3px 4px 0px; */
    --card-box-shadow: none;

    /* --input-background-color: #0B4B03; */
    --input-background-color: #263240;
    /* --input-border: #0F7104; */
    --input-border: solid #303f50 1px;
    /* --input-color: #DDDDDD; */
    --input-color: #bfbfbf;
    /* --input-placeholder-color: #0F7104; */
    --input-placeholder-color: none;
    /* --input-focus-border: #1cd508; */
    /* --input-focus-border: solid #4680ff 1px !important; */
    --input-focus-border: solid #36c47d 1px !important;
    /* --input-focus-box-shadow: 0 0 0 .25rem rgba(13, 253, 49, 0.25); */
    --input-focus-box-shadow: none;
    /* --input-readonly-opacity: 1; */
    --input-readonly-opacity: 0.6;

    /* --action-btn-background: linear-gradient(100deg, #E6E600 -10%, #B95C00); */
    --action-btn-background: #36c47d;
    /* --action-btn-hover-background: linear-gradient(100deg, #E6E600 -10%, #B95C00); */
    --action-btn-hover-background: #2fab6d;
    /* --btn-hover-scale: 1.03; */
    --btn-hover-scale: 1;
    /* --action-btn-active-background: linear-gradient(100deg, #E6E600 -10%, #B95C00); */
    --action-btn-active-background: #299a61;
}

* {
    /* font-family: "Noto Sans"; */
    font-family: "Inter var",sans-serif;
    color: white;
}

html {
    height: 100%;
}

body {
    background: var(--main-background);
    background-size: cover;
    padding: 40px;
    height: calc(100% - (40px * 2));
    margin: 0;
}

.custom-scroll-bar::-webkit-scrollbar {
    background-color: transparent;
    cursor: pointer;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #b9b900 -10%, #844200);
    border-radius: 20px;
    cursor:auto;
}

.custom-scroll-bar::-webkit-scrollbar-thumb:active {
    background: linear-gradient(to bottom, #E6E600 -10%, #B95C00);

}  

.box-container {
    display: flex;
    height: 100%;
    gap: 30px;
}

    .action-btn, .reset-btn {
        font-size: 20px;
        font-weight: 600;
        width: fit-content;
        padding: 4px 23px 7px;
        border-radius: 7px;
        cursor: pointer;
        user-select: none;
    }

        .action-btn:hover {
            scale: var(--btn-hover-scale);
            background: var(--action-btn-hover-background);
        }

        .action-btn:active {
            background: var(--action-btn-active-background);
        }
        
        .reset-btn:hover {
            scale: var(--btn-hover-scale);
        }

    .action-btn {
        background: var(--action-btn-background);
    }

    .reset-btn {
        background-color: #5D5D5D;
    }

    .two-small-box-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: fit-content;
    }

        .small-box-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: var(--card-background-color);
            border: var(--card-border);
            border-radius: 12px;
            padding: 10px 15px;
            width: 330px;
            box-shadow: var(--card-box-shadow);
        }

            .small-box-header {
                font-weight: 600;
                font-size: 22px;
                /* border-bottom: var(--card-border); */
            }

            .small-box-container textarea {
                flex: 1;
                color: var(--input-color);
                font-size: 16px;
                background-color: var(--input-background-color);
                border: var(--input-border);
                border-radius: 10px;
                padding: 3px 6px;
                resize: none;
            }

                .small-box-container textarea::placeholder {
                    color: var(--input-placeholder-color);
                }

                .small-box-container textarea:focus {
                    border: var(--input-focus-border);
                    outline: 0;
                    box-shadow: var(--input-focus-box-shadow);
                }

                .small-box-container .readonly {
                    opacity: var(--input-readonly-opacity);
                }

                .small-box-container .readonly:focus {
                    box-shadow: none;
                }
    
    .big-box-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: var(--card-background-color);
        border: var(--card-border);
        border-radius: 12px;
        padding: 10px 15px;
        gap: 10px;
        box-shadow: var(--card-box-shadow);
    }

        .big-box-header {
            font-weight: 600;
            font-size: 28px;
            text-align: center;
            margin-bottom: -7px;
        }

        .big-box-header-divider {
            background-color: white;
            height: 1px;
            width: 110px;
            align-self: center;
        }

        #listOfBills {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: auto;
        }
        
            .no-bills {
                color: rgb(205, 205, 205);
                text-align: center;
                font-weight: 600;
                background: linear-gradient(100deg, #008564, #003f3f);
                border-radius: 7px;
                padding: 10px;
            }

            .bill-tab {
                display: flex;
                flex-direction: column;
                font-weight: 600;
                background: linear-gradient(100deg, #00D9A3, #008C8C);
                border-radius: 7px;
                padding: 3px 10px;
                overflow: hidden;
                flex-shrink: 0;
            }

                .bill-tab-header {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    user-select: none;
                }

                    .name-and-bill {
                        font-size: 16px;
                        flex: 1
                    }

                    .bill-buttons {
                        display: flex;
                    }

                        .small-action-btn {
                            background: linear-gradient(100deg, #E6E600 -10%, #B95C00);
                            font-size: 16px;
                            font-weight: 600;
                            width: fit-content;
                            height: fit-content;
                            padding: 2px 13px 4px;
                            border-radius: 7px;
                            cursor: pointer;
                            user-select: none;
                            margin-right: 12px;
                        }

                    .bill-tab-arrow {
                        display: flex;
                        color: rgb(212, 212, 212);
                        font-size: 27px;
                        font-weight: 700;
                        height: 0px;
                        margin-bottom: 2px;
                        align-items: center;
                        transition: all 0.5s ease-in-out;
                    }

                    .bill-tab.open .bill-tab-arrow {
                        rotate: 90deg;
                        margin-bottom: 0px;
                    }

                .bill-tab-information {
                    max-height: 0px;
                    transition: all 0.5s ease-in-out;
                }

                    .bill-tab.open .bill-tab-information {
                        max-height: 200px;
                    }

                    .bill-information-divider {
                        background-color: white;
                        height: 1px;
                        margin-top: 5px;
                    }

                    .bill-information-item {
                        font-size: 14px;
                        margin-top: 5px;
                    }

                        .bill-information-item:last-of-type {
                            margin-bottom: 5px;
                        }